/* ----------------------FONTS---------------- */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

/* ----------------------VAR------------------ */
:root{
    
--Cyan: hsl(179, 62%, 43%);
--Bright_Yellow: hsl(71, 73%, 54%);
--Light_Gray: hsl(204, 43%, 93%);
--Grayish_Blue: hsl(218, 22%, 67%);
--Karla:'Karla', sans-serif;
}

/* font-family: 'Karla', sans-serif; */
/* ----------------------ALL------------------ */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    font-size: 16px;
    font-family: 'Karla', sans-serif;
    background-color: var(--Light_Gray);
    

}

/* ----------------------GRID------------------ */

.cardGrid{
    display: grid;
    grid-template-areas:
                        ". areaOne areaOne ."
                        ". areaTwo areaThree ."
    ;
grid-template-columns: 1fr 20rem 20rem 1fr;
grid-template-rows: 20rem 20rem;
margin: 7rem 0;
}

.cardOne{
    grid-area: areaOne;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    justify-content: center ;
    gap: 1rem;
    background-color: white;
    }
.cardOne__title{
    color: var(--Cyan);  
}
.cardOne__description{
    color: var(--Bright_Yellow);
   
}
.cardOne__text{
    color: var(--Grayish_Blue);
    justify-content: 1rem;
    text-align: justify;
    font-weight: 400;
}

.cardTwo{
    grid-area: areaTwo;
    background-color:var(--Cyan);
    padding: 2.5rem;
   color: var(--Light_Gray);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2rem;
    font-size: 1rem;
   
}
.cardTwo__title{
    font-weight: 400;
}
.cardTwo__price{
    font-size: 2rem;
    font-weight: 700;
    display: flex;
    gap:1rem;
    align-items: center;
}

.cardTwo__price--time{
    font-size: 1rem;
    color: var(--Light_Gray);
}
.cardTwo__buttom{
    height: 3.5rem;
    background-color: var(--Bright_Yellow);
    font-family: var(--Karla);
    font-size: 1rem;
    border-radius: .5rem;
    border: none;
    color: var(--Light_Gray);
    font-weight: 400;
    letter-spacing: .2rem;
}
.cardTwo__buttom:hover{
    background-color: var(--Light_Gray);
    color: var(--Bright_Yellow);   
}
.cardThree{
    grid-area: areaThree;
    background-color:var(--Grayish_Blue);
    padding: 2.5rem;
    color: var(--Light_Gray);
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2rem;
    font-size: 1rem;
}

li{
    text-decoration: none;
    line-height: 1.5rem;
    list-style: none;
}
/* ----------------------FOOTER---------------- */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media(max-width:660px){
       
    .cardGrid{
    grid-template-areas:
                            ". areaOne ."
                            ". areaTwo ."
                            ". areaThree ."
        ;
    grid-template-columns: 1fr 19rem 1fr ;
    grid-template-rows: 19rem;

    }

    .cardOne{
  font-size: .8rem;
    }
}